*
{
    box-sizing: border-box;
    font-family: 'Cute Font', cursive;
}
html
{
    min-width: 100%;
    cursor:url("Misc/cursor.png"),auto;
    scroll-behavior: smooth;
}
body
{
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}
header
{
    width: 100%;
}
footer
{
    background-color: black;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color:white;
}
nav
{
    width: 100%;
    margin-top: 30px;
    text-align: center;
}
nav a
{
    font-size: 1.3em;
    margin-right: 0px;
    padding: 10px;
    color: black;
    text-decoration: none;
}
nav a:hover
{
    text-decoration: underline;
}
header img
{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 3px dashed black;
}
h3
{
    width: 100%;
    text-align: center;
}
main
{
    width: 100%;   
}
.Apps
{
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
.App
{
    width: 300px;
    height: 300px;
    padding: 15px;
    float: left;
}
.Desc
{
    color: gray;
    background-color: #eee;
}
.Title
{
    font-size: 1.8em;
    color: white;
    background-color: black;
    padding: 4px;
}
.Title:hover
{
    background-color: white;
    color:black;
}
.App img
{
    width: 100%;
    border-radius: 3px;
}
.HeadSectionText
{
    text-align: center;
    margin: auto;
    font-size: 1.7em;
    justify-content: center;
    align-items: center;
    display: block;
    cursor:url("Misc/cursor.png"),auto;
    color:#eee;
    
    
}
aside
{
    width: 100%;
    margin-top: 30px;
    text-align: center;
}
a
{
    cursor:url("Misc/pointer.png"),pointer;
}
.social
{
    width: 30px;
    display: block;
    margin: auto;
    filter: grayscale(1);
    cursor:url("Misc/pointer.png"),pointer;
    transition: all 0.1s;
}
.screens
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
aside a
{
    display: inline-block;
    padding: 15px;
}
.social:hover
{
    filter: grayscale(0);
    transform: scale(1.4,1.4);
}
.background
{
    width: 100%;
    height: 30px;
    background-attachment: fixed;
    margin-top: 50px;
    margin-bottom: 50px;
}
.back1
{
    background-image: url("back1.png");
}
.back2
{
    background-image: url("back2.png");
}
.back3
{
    background-image: url("back3.png");
}
.work
{
    transition: 0.4s;
    height: 200px;
    margin: 0;
}
.work:hover
{
    border-radius: 5px;
    transform: scale(1.5,1.5);    
}
.icon
{
    width: 200px;
    margin: auto;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px;
    border:2px solid white;
}
.FadeAway
{
    animation: fade;
    animation-duration: 1s;
}
.Show
{
    animation: show;
    animation-duration: 1s;
}
@keyframes fade {
    0%{
        background-position-y: 0px;
    }
    100%{
        background-position-y: 2000px;
    }
}
@keyframes show {
    0%{
        background-position-y: 2000px;
    }
    100%
    {
        background-position-y: 0px;
    }
    
}
.About
{
    width: 100%;
    margin: auto;
    padding: 20px;
}
.AboutTitle
{
    font-size: 1.7em;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    background-color: #000;
}
.AboutDesc
{
    width: 50%;
    text-align: left;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    background-color: #fff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-left: 5px solid #222034;
}
@media screen and (max-width: 1100px) {
    .AboutDesc
    {
        width: 90%;
    }
}
.AboutBackground
{
    text-align: center;
    width: 100%;
    background-image: url("game3.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.3);
}
.Star
{
    color: black;
    border-radius: 5px;
    width: 30px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
mark
{
    background-color: #000;
    color: white;
}
.About a
{
    color: #222034;
}
.Skills
{
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.skillimg
{
    margin-left: auto;
    margin-right: auto;
}
.SkillSlide
{
    
    color:white;
    display: flex;
    flex-direction: column;
    border-radius:5px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: #000;
    
}
.Skill
{
    width: 200px;
    cursor: url("Misc/pointer.png");
    text-align: center;
    margin: auto;
    border-radius: 15px;
    font-size: 20px;
    padding: 15px;
    transition: all 0.1s ease;
}
.SkillSlideWork
{
    width: 100%;
    
}
.SkillSlideWork:hover
{
    transform: scale(2,2);
}
.Skill:hover
{
    
    transform: scale(1.1,1.1);
}
.SkillSlide span
{
    background-color: white;
    color:black;
    width: 100%;
    border:2px solid black;
    
    border-radius: 5px;
}
.Creature
{
    width: 50px;
    display: block;
    margin: auto;
}
.Skill .SkillImg
{
    width: 60px;
    display: block;
    margin: auto;
}
.contact
{
    width: 20%;
    margin: auto;
}
li a
{
    color:#73172D;
    text-decoration: underline;
    font-size: 1.1em;
}
.Fiverr
{
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url("Simple\ Shiny.svg");
    background-size: 100px;
    background-attachment: fixed;
}
.FiverrLogo
{
    width: 300px;
    margin: auto;
    display: block;
}
.FiverrGig
{
    margin:50px;
    width: 300px;
    font-size: 1.3em;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    
}
.FiverrButton
{
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    width: 150px;
    color:white;
    text-decoration: none;
    background-color: #1dbf73;
    margin: 10px;
    transition: all 0.2s;
}
.FiverrButton:hover
{
    
    transform: scale(1.1, 1.1);
}
.GigDesc
{
    height: 100px;
}
.FiverrButton a
{
    padding: 15px;
    text-decoration: none;
    text-decoration-color: white;
    color:white;
}
.FiverrGig a
{
    padding: 15px;
    
}
.FiverrGig img
{
    width: 300px;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #000; 
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #000; 
}
::-moz-selection {
    color: white;
    background: #000;
}

::selection {
    color: white;
    background: rgb(0, 0, 0);
}